# vim:foldmethod=marker

# {{{ headings
snippet h1 "* ..." bA
* $0
endsnippet

snippet h2 "** ..." bA
** $0
endsnippet

snippet h3 "*** ..." bA
*** $0
endsnippet

snippet h4 "**** ..." bA
**** $0
endsnippet

snippet h5 "***** ..." bA
***** $0
endsnippet

snippet h6 "****** ..." bA
****** $0
endsnippet
# }}}
